In [22]:
import pandas as pd
import numpy as np

In [4]:
data = [10,20,30,40,50]
s1 = pd.Series(data)
print(s1)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [40]:
s2 = pd.Series(
    [80,70,60,80,90],
    index=['국어','과학','수학','영어','국어']
)
print(s2)
ord('A')
ord('Z')

국어    80
과학    70
수학    60
영어    80
국어    90
dtype: int64

90

In [33]:
a = [chr(i) for i in range(65, 91)]
ran = np.random.randint(30,100, size = len(a))
s3 = pd.Series(
    ran, index=a
)
s3

A    89
B    93
C    72
D    78
E    76
F    50
G    40
H    68
I    58
J    54
K    92
L    99
M    58
N    87
O    97
P    39
Q    32
R    81
S    89
T    77
U    50
V    65
W    70
X    31
Y    51
Z    58
dtype: int32

In [35]:
view = pd.DataFrame(s3)
view

    0
A  89
B  93
C  72
D  78
E  76
F  50
G  40
H  68
I  58
J  54
K  92
L  99
M  58
N  87
O  97
P  39
Q  32
R  81
S  89
T  77
U  50
V  65
W  70
X  31
Y  51
Z  58